/* Tổng thể */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    color: #333;
}

/* Phần đầu trang */
header {
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
}

/* Phần sản phẩm */
.product {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    text-align: center;
    background-color: white;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
}

.product:hover {
    transform: scale(1.05);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

.product img {
    width: 100%;
    height: auto;
    max-height: 200px;
    object-fit: cover;
    margin-bottom: 10px;
    border-radius: 5px;
}

.product h2 {
    font-size: 18px;
    color: #333;
    margin: 10px 0;
    height: 50px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.product p {
    font-size: 16px;
    color: #333;
    margin: 5px 0;
    font-weight: bold;
}

.product .product__form {
    margin-top: 10px;
}

.product button {
    padding: 10px 15px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s;
}

.product button:hover {
    background-color: #333;
}

/* Phần giỏ hàng */
.cart {
    max-width: 900px;
    margin: 20px auto;
    padding: 20px;
    background-color: white;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.cart table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.cart table th, .cart table td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
}

.cart table th {
    background-color: #333;
    color: white;
}

.cart .checkout-btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #333;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 20px;
    transition: background-color 0.3s;
}

.cart .checkout-btn:hover {
    background-color: #333;
}
